{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Diagnose Me{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Check the symptom you are experiencing</h2>

  <div>
    <input type="checkbox" id="symptom1" name="symptom1">
    <label for="symptom1">Painful urination</label>
  </div>

  <div>
    <input type="checkbox" id="symptom2" name="symptom2">
    <label for="symptom2">Sore on genitals, rectum, or mouth</label>
  </div>

  <div>
    <input type="checkbox" id="symptom3" name="symptom3">
    <label for="symptom2">Small red bumps or tiny white blisters on genitals</label>
  </div>

  <a href="{{ url_for('results') }}">
     <button>Diagnose Me!</button>
  </a>
{% endblock %}
