{% extends 'base.html' %}

{% block content %}
<link href="../static/signin.css" rel="stylesheet">
<div class="text-center form-signin">
<h1 class="h3 mb-3 font-weight-normal">Welcome!</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
        {% if messages[0] == 'Username already exists.' %} 
          Go to <a href="{{ url_for('profile.login') }}"> login page</a>.<br>
        {% endif %}
    </div>
{% endif %}
{% endwith %}

<form method="POST" class="form-signin">
    {{form.hidden_tag()}}
    
    {{form.uname(id="inputUser", class_="form-control", placeholder="Username")}}<br>
    {{form.password(id="inputPassword", class_="form-control",placeholder="Password")}}<br>

    {% if type=='signup' %}
        {{form.password2(id="confirmPassword", class_="form-control",placeholder="Confirm Password")}}<br>

        {{form.recaptcha}}<br>
        {% for error in form.recaptcha.errors %}
            {{ error }}<br>
        {% endfor %}
    {% endif %}

    {% for att in form.errors %}
    Error in {{att}}: {{ form.errors[att][0] }} <br>
    {% endfor %}
    {{form.submit(class_="btn btn-lg btn-primary btn-block")}}
</form>
{% if type == 'login' %}
Don't have an account? <a href="{{url_for('profile.signup')}}">Create one</a>
{% else %}
Already have an account? <a href="{{url_for('profile.login')}}">Login</a>
{% endif %}

</div>
{% endblock %}
