
{% extends 'base.html' %}

{% block header %}
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{{url_for('static', filename='tag_helpers.js')}}"></script>
{% endblock %}

{% block content %}
<div class="form-signin">
<h1>{% block title %} Wellbi Forum {% endblock %}</h1><br>
<h2>Make a new post:</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
        {% if messages[0] == 'Email address already exists.' %} 
          Go to <a href="{{ url_for('profile.login') }}"> login page</a>.<br>
        {% endif %}
    </div>
{% endif %}
{% endwith %}

<!-- <div class="threads"> -->
<form method="POST" action= "" >
  {{form.hidden_tag()}}
  {{form.title.label()}}: <br>
  {{form.title(class_="form-control limit-input")}}<br>

  {{form.body.label()}}: <br>
  {{form.body(class_="form-control limit-input")}}<br>

  <div id='tags'>
    {{form.tags.label()}}:<br>
    {% for tag_field in form.tags %}
      {{ tag_field(class_="form-control limit-input") }} <br>
    {% endfor %}
  </div>
  <button type='button' class='btn btn-primary'id=add_tag>Add Tag</button> <br><br>
  <!-- &nbsp <button type='button' id=remove_tag>Remove Tag</button>  -->

  {% for att in form.errors %}
    Error in {{att}}: {{ form.errors[att][0] }} <br>
  {% endfor %}
  {{form.submit(class_="btn btn-primary")}}
</form>
<div id='count_div', style='display: none;'>0</div>
</div>
{% endblock %}