
    {% extends 'base.html' %}

    {% block header %}
        <h1>{% block title %}Diagnose Me{% endblock %}</h1>
    {% endblock %}
    
    {% block header %}
        <h2>{% block title %}Female{% endblock %}</h2>
    {% endblock %}
    
    {% block content %}
        <h3>Check the symptom you are experiencing</h3>
        <form action={{ url_for('diagnosis.results') }} method="post"> 
    
            <div>
                <input type="checkbox" id="Nausea and vomiting" name="Nausea and vomiting">
                <label for="Nausea and vomiting">Nausea and vomiting</label>
            </div>
        
            <div>
                <input type="checkbox" id="Painful or more frequent urination" name="Painful or more frequent urination">
                <label for="Painful or more frequent urination">Painful or more frequent urination</label>
            </div>
        
            <div>
                <input type="checkbox" id="Difficulty coordinating muscle movements" name="Difficulty coordinating muscle movements">
                <label for="Difficulty coordinating muscle movements">Difficulty coordinating muscle movements</label>
            </div>
        
            <div>
                <input type="checkbox" id="Fatigue" name="Fatigue">
                <label for="Fatigue">Fatigue</label>
            </div>
        
            <div>
                <input type="checkbox" id="Skin rashes" name="Skin rashes">
                <label for="Skin rashes">Skin rashes</label>
            </div>
        
            <div>
                <input type="checkbox" id="Dark urine" name="Dark urine">
                <label for="Dark urine">Dark urine</label>
            </div>
        
            <div>
                <input type="checkbox" id="Sores on body and/or in mouth/vagina/anus" name="Sores on body and/or in mouth/vagina/anus">
                <label for="Sores on body and/or in mouth/vagina/anus">Sores on body and/or in mouth/vagina/anus</label>
            </div>
        
            <div>
                <input type="checkbox" id="Painful urination" name="Painful urination">
                <label for="Painful urination">Painful urination</label>
            </div>
        
            <div>
                <input type="checkbox" id="Painful or burning sensation when urinating" name="Painful or burning sensation when urinating">
                <label for="Painful or burning sensation when urinating">Painful or burning sensation when urinating</label>
            </div>
        
            <div>
                <input type="checkbox" id="Itching or burning in/around the vagina" name="Itching or burning in/around the vagina">
                <label for="Itching or burning in/around the vagina">Itching or burning in/around the vagina</label>
            </div>
        
            <div>
                <input type="checkbox" id="Vaginal itching" name="Vaginal itching">
                <label for="Vaginal itching">Vaginal itching</label>
            </div>
        
            <div>
                <input type="checkbox" id="Loss of appetite" name="Loss of appetite">
                <label for="Loss of appetite">Loss of appetite</label>
            </div>
        
            <div>
                <input type="checkbox" id="Joint pain" name="Joint pain">
                <label for="Joint pain">Joint pain</label>
            </div>
        
            <div>
                <input type="checkbox" id="Blindness" name="Blindness">
                <label for="Blindness">Blindness</label>
            </div>
        
            <div>
                <input type="checkbox" id="Dementia" name="Dementia">
                <label for="Dementia">Dementia</label>
            </div>
        
            <div>
                <input type="checkbox" id="Fever" name="Fever">
                <label for="Fever">Fever</label>
            </div>
        
            <div>
                <input type="checkbox" id="Weight loss" name="Weight loss">
                <label for="Weight loss">Weight loss</label>
            </div>
        
            <div>
                <input type="checkbox" id="Headaches or muscle aches" name="Headaches or muscle aches">
                <label for="Headaches or muscle aches">Headaches or muscle aches</label>
            </div>
        
            <div>
                <input type="checkbox" id="Frothy/yellow foul-smelling vaginal discharge" name="Frothy/yellow foul-smelling vaginal discharge">
                <label for="Frothy/yellow foul-smelling vaginal discharge">Frothy/yellow foul-smelling vaginal discharge</label>
            </div>
        
            <div>
                <input type="checkbox" id="Painless sores" name="Painless sores">
                <label for="Painless sores">Painless sores</label>
            </div>
        
            <div>
                <input type="checkbox" id="Cloudy/yellow vaginal discharge" name="Cloudy/yellow vaginal discharge">
                <label for="Cloudy/yellow vaginal discharge">Cloudy/yellow vaginal discharge</label>
            </div>
        
            <div>
                <input type="checkbox" id="Abdominal or pelvic pain" name="Abdominal or pelvic pain">
                <label for="Abdominal or pelvic pain">Abdominal or pelvic pain</label>
            </div>
        
            <div>
                <input type="checkbox" id="Abdominal Pain and Fever" name="Abdominal Pain and Fever">
                <label for="Abdominal Pain and Fever">Abdominal Pain and Fever</label>
            </div>
        
            <div>
                <input type="checkbox" id="Abnormal vaginal discharge" name="Abnormal vaginal discharge">
                <label for="Abnormal vaginal discharge">Abnormal vaginal discharge</label>
            </div>
        
            <div>
                <input type="checkbox" id="Painful intercourse" name="Painful intercourse">
                <label for="Painful intercourse">Painful intercourse</label>
            </div>
        
            <div>
                <input type="checkbox" id="Swollen lymph nodes" name="Swollen lymph nodes">
                <label for="Swollen lymph nodes">Swollen lymph nodes</label>
            </div>
        
            <div>
                <input type="checkbox" id="Irregular bleeding" name="Irregular bleeding">
                <label for="Irregular bleeding">Irregular bleeding</label>
            </div>
        
            <div>
                <input type="checkbox" id="Paralysis" name="Paralysis">
                <label for="Paralysis">Paralysis</label>
            </div>
        
            <div>
                <input type="checkbox" id="Numbness" name="Numbness">
                <label for="Numbness">Numbness</label>
            </div>
        
            <div>
                <input type="checkbox" id="Yellowing of the skin or eyes (jaundice)" name="Yellowing of the skin or eyes (jaundice)">
                <label for="Yellowing of the skin or eyes (jaundice)">Yellowing of the skin or eyes (jaundice)</label>
            </div>
        
            <div>
                <input type="checkbox" id="Pain or discomfort with urination" name="Pain or discomfort with urination">
                <label for="Pain or discomfort with urination">Pain or discomfort with urination</label>
            </div>
        
    {% endblock %}
    
    {% block header %}
        <h2>{% block title %}Male{% endblock %}</h2>
    {% endblock %}
    
    {% block content %}
        <h3>Check the symptom you are experiencing</h3>
    
                <div>
                    <input type="checkbox" id="Nausea and vomiting" name="Nausea and vomiting">
                    <label for="Nausea and vomiting">Nausea and vomiting</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Painful or swollen testicles" name="Painful or swollen testicles">
                    <label for="Painful or swollen testicles">Painful or swollen testicles</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Difficulty coordinating muscle movements" name="Difficulty coordinating muscle movements">
                    <label for="Difficulty coordinating muscle movements">Difficulty coordinating muscle movements</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Pain or swelling in one testicle" name="Pain or swelling in one testicle">
                    <label for="Pain or swelling in one testicle">Pain or swelling in one testicle</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Fatigue" name="Fatigue">
                    <label for="Fatigue">Fatigue</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Skin rashes" name="Skin rashes">
                    <label for="Skin rashes">Skin rashes</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Dark urine" name="Dark urine">
                    <label for="Dark urine">Dark urine</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Sores on body and/or in mouth/vagina/anus" name="Sores on body and/or in mouth/vagina/anus">
                    <label for="Sores on body and/or in mouth/vagina/anus">Sores on body and/or in mouth/vagina/anus</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Loss of appetite" name="Loss of appetite">
                    <label for="Loss of appetite">Loss of appetite</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Joint pain" name="Joint pain">
                    <label for="Joint pain">Joint pain</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Blindness" name="Blindness">
                    <label for="Blindness">Blindness</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Dementia" name="Dementia">
                    <label for="Dementia">Dementia</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Abnormal penile discharge" name="Abnormal penile discharge">
                    <label for="Abnormal penile discharge">Abnormal penile discharge</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Fever" name="Fever">
                    <label for="Fever">Fever</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Weight loss" name="Weight loss">
                    <label for="Weight loss">Weight loss</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Headaches or muscle aches" name="Headaches or muscle aches">
                    <label for="Headaches or muscle aches">Headaches or muscle aches</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Painless sores" name="Painless sores">
                    <label for="Painless sores">Painless sores</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Swollen lymph nodes" name="Swollen lymph nodes">
                    <label for="Swollen lymph nodes">Swollen lymph nodes</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Painful intercourse" name="Painful intercourse">
                    <label for="Painful intercourse">Painful intercourse</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Numbness" name="Numbness">
                    <label for="Numbness">Numbness</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Paralysis" name="Paralysis">
                    <label for="Paralysis">Paralysis</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Pus-like discharge from the tip of the penis" name="Pus-like discharge from the tip of the penis">
                    <label for="Pus-like discharge from the tip of the penis">Pus-like discharge from the tip of the penis</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Penile itching" name="Penile itching">
                    <label for="Penile itching">Penile itching</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Yellowing of the skin or eyes (jaundice)" name="Yellowing of the skin or eyes (jaundice)">
                    <label for="Yellowing of the skin or eyes (jaundice)">Yellowing of the skin or eyes (jaundice)</label>
                </div>
            
                <div>
                    <input type="checkbox" id="Pain or discomfort with urination" name="Pain or discomfort with urination">
                    <label for="Pain or discomfort with urination">Pain or discomfort with urination</label>
                </div>
            
    <input type="submit" value="Submit">
    </form>
    {% endblock %}
    