{% extends 'base.html' %}

{% block header %}
    <link href="../static/signin.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{url_for('static', filename='like_helpers.js')}}"></script>

{% endblock %}

{% block content %}
<div class="form-signin">
<h1>{% block title %}Wellbi Forum{% endblock %}</h1><br>
<h3> {{post_dict.title}} </h3>
By: <a href="{{url_for('profile.display_other', username=post_dict.username)}}">{{post_dict.username}} </a><br>

{% if post_dict.tags %}
    Tags: 
    {% for tag in post_dict.tags %}
        <a href="{{url_for('forum.search', tag=tag)}}">{{tag}}</a>
        {% if not loop.last %}
, 
        {% endif %}
    {% endfor %}
    <br><br>
{% endif %}

{{post_dict['body']}} <br><br>

{% if curr_user == post_dict.username %}
<form action="{{ url_for('forum.delete_post', id=post_id) }}", method="get">
    <button class="delete_button btn btn-danger" type="submit">Delete</button>
</form><br>
    
{% endif %}

{% if not liked_post %}

    <button class="like_button upvote_button btn btn-outline-primary" data-id={{post_id}}>
        <i class="bi bi-hand-thumbs-up"></i>
        {{post_dict['likes']}}
    </button>  <br><br>
{% else %}
    <button class="like_button downvote_button btn btn-outline-primary" data-id={{post_id}}>
        <i class="bi bi-hand-thumbs-up-fill"></i> {{post_dict['likes']}}
    </button> <br><br>   
{% endif %}

<h4>Comments: </h4>
Post a comment:<br>
<form method="POST" action= "{{ url_for('forum.show_post', post_id=post_id) }}" >
    {{form.hidden_tag()}}
  
    {{form.body(class_="form-control limit-input")}}<br>
  
    {% if form.errors %}
      {{ form.errors }}
    {% endif %}
    {{form.submit(class_="btn btn-primary btn-block")}}
</form>
<br>
{% for i in range(comments | length) %}
    {% if comments[i] %}
        <h5>{{comments[i]['author']}}:</h5>
        {{comments[i]['body']}}<br>

        {% if comments[i]['author'] == curr_user%}
            <form action="{{ url_for('forum.delete_comment', id=comments[i]['id'], parent=post_id) }}", method="get">
                <button class="delete_button btn btn-danger" type="submit">Delete</button>
            </form>
        {% endif %}<br>

        {% if i not in liked_comments %}
            <button class="like_button upvote_button btn btn-outline-primary" data-id="{{comments[i]['id']}}">
                <i class="bi bi-hand-thumbs-up"></i> {{comments[i]['likes']}}
            </button> <br><br>   
        {% else %}
            <button class="like_button downvote_button btn btn-outline-primary" data-id="{{comments[i]['id']}}">
                <i class="bi bi-hand-thumbs-up-fill"></i> {{comments[i]['likes']}}
            </button> <br><br>   
        {% endif %}
    {% else %}
        [Comment Deleted]<br>
    {% endif %}
</div>
{% endfor %}
{% endblock %}