{% extends 'base.html' %}

{% block content %}
<link href="../static/profile.css" rel="stylesheet">
<h1> {{ username }}'s Profile </h1>
<div class="container-md main-div">
<div class="jumbotron">
<h3> Posts: </h3>
{% for i in range(title_list | length) %}
    {% if id_list[i] != None %}
        <a href= "{{url_for('forum.show_post', post_id=id_list[i])}}"> {{title_list[i]}} </a><br>
    {% else %}
        [Post Deleted] <br>
    {% endif %}
{% endfor %}
<br>

<h3> Comments: </h3>
{% for i in range(comm_list | length) %}
    {% if comm_list[i] != None %}
        <a href= "{{url_for('forum.show_post', post_id=comm_id_list[i])}}"> {{comm_list[i]}} </a>
        <button id="delete-button" type="button"> Delete </button><br>
    {% else %}
        [Comment Deleted] <br>
    {% endif %}
{% endfor %}

</div>
</div>
{% endblock %}