{% extends 'base.html' %}

{% block header %}
  <p><h1>{% block title %}Resources{% endblock %}</h1></p>
{% endblock %}

{% block content %}
  <h2>Chlamydia</h2>
  <p><a href="https://www.mayoclinic.org/diseases-conditions/chlamydia/symptoms-causes/syc-20355349">Symptoms and Causes</a></p>
  <p><a href="https://www.mayoclinic.org/diseases-conditions/chlamydia/diagnosis-treatment/drc-20355355">Diagnosis and Treatment</a></p>

  <h2>Syphillis</h2>
  <p><a href="https://www.mayoclinic.org/diseases-conditions/syphilis/symptoms-causes/syc-20351756">Symptoms and Causes</a></p>
  <p><a href="https://www.mayoclinic.org/diseases-conditions/syphilis/diagnosis-treatment/drc-20351762">Diagnosis and Treatment</a></p>

  <h2> Genital Herpes</h2>
  <p><a href="https://www.mayoclinic.org/diseases-conditions/genital-herpes/symptoms-causes/syc-20356161">Symptoms and Causes</a></p>
  <p><a href="https://www.mayoclinic.org/diseases-conditions/genital-herpes/diagnosis-treatment/drc-20356167">Diagnosis and Treatment</a></p>
{% endblock %}