/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #0a68b5;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f5f3e8;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

.content {
    padding: 16px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}